# Ambientes virtuais e caches
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Caches de áudio e arquivos de mídia pesados
data/temp_audio/
output/
*.mp3
*.wav
*.mp4
*.m4a
*.avi
*.mkv

# IDEs e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.log

# Caches de testes
.pytest_cache/

# Segredos e Tokens
.env
.env.*
assets/videos_fundo/

